<header class="py-4 border-bottom" style="background-size: contain;">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <a href="/" class="text-decoration-none">
      <div class="text-center my-4" style="color: #8b322c;font-family: 'Hiragino Mincho ProN', serif;">
        <p class="mb-0" style="font-size: 0.9rem; letter-spacing: 0.1em; ">バイオリン教室、ピアノ教室、幼児音感教室</p>
        <h1 class="fw-bold" style="letter-spacing: 0.05em;">ひもろぎ音楽教室</h1>
      </div>
    </a>

    <!-- 右側：楽器の画像 -->
    <div class="d-flex align-items-center">
      <img src="/images/gakki.jpg" alt="楽器" class="img-fluid" style="object-fit: cover;" />
    </div>
  </div>
</header>
